.card {
  display: inline-block;
  height: 100%;
  width: 100%;  
  border: #333 solid 1px;
  border-radius: 10px;
  transition: transform 0.6s;
  transform-style: preserve-3d;  
}

.card-value {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.selected {
  /* background: #ccc; */
  transform: rotateX(180deg) scale(1.2);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  box-sizing: border-box;
}

.card-front {
  transform: rotateX(180deg);
  background: white;
  box-shadow: #ccc 0 0 5px 0;
  transition: background-color 2s, box-shadow 1s;
}

.card-back {
  /* background: repeating-linear-gradient(135deg, #ccc, white, #ccf 20px); */
  /* background: repeating-linear-gradient(135deg, white 7%, #59d 16%); */
  background: repeating-linear-gradient(135deg, white 8%, #57a 16%, white 24%);
  box-shadow: #666 0 0 0 3px inset;
}

::ng-deep #board.board-got-pair .card.selected .card-front {
  animation: gotPair 0.7s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes gotPair {
  100% { box-shadow: #afa 0 0 0 50px inset; }
}

.card.selected.in-pair {
  transform: none;
  border-style: dashed;
  transition: none;
}

.card.selected.in-pair .card-back {
  background: white;
  box-shadow: none;
  pointer-events: none;  
}
