:host {
  z-index: 0;
}

.target {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fca;
  box-shadow: #aaa 0 0 5px 0;
}

.target.shot {
  background: #f55;
  box-shadow: lightyellow 0 0 10px 0;
  z-index: -1;
}

.target-basic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fca;
  box-shadow: #aaa 0 0 5px 0;
}

.target-basic.shot {
  animation-name: basicTargetShot;
  animation-duration: 0.75s;
}

@keyframes basicTargetShot {
  0%   {transform: scale(1.15) rotateY(30deg);}
  33%  {transform: scale(0.92) rotateY(-30deg);}
  66%  {transform: scale(1.1) rotateY(30deg); opacity: 1;}
  100% {transform: scale(0.88) rotateY(-30deg); opacity: 0;}
}

.target-small {
  width: 75px;
  height: 75px;
  background: #acf;
  border-radius: 0;
  box-shadow: #777 0 0 10px 0;
  animation: smallTarget 0.5s infinite linear;
  /* transition: 1s; */
}

.target-small.shot {
  animation-name: smallTargetShot;
  animation-duration: 1s;
  /* transform: rotateY(540deg); */
}

@keyframes smallTarget {
  0%, 100% { transform: rotateZ(-10deg); }
  50% { transform: rotateZ(10deg); }
}

@keyframes smallTargetShot {
  66% {opacity: 1;}
  100% {transform: rotateY(560deg); opacity: 0;}
}

.target-pulse {
  width: 50px;
  height: 50px;
  background: #afc;
  border-radius: 50%;
  box-shadow: #aaa 0 0 5px 0;
  animation: pulseTarget 1s infinite;
}

@keyframes pulseTarget {
  50% {transform: scale(3);}
  100% {transform: scale(1);}
}

.target-pulse.shot {
  animation: blowUp 0.75s;
}

@keyframes blowUp {
  0% {transform: scale(3);}
  100% {transform: scale(12); opacity: 0;}
}

.target-moving {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #aac;
  animation: Moving 5s linear 1;
  transition: 1s;
}

.target-moving.shot {
  width: 0;
  height: 0;
}

@keyframes Moving {
  0%   {transform: translate(-600px, 50px);}
  12.5%   {transform: translate(-450px, -50px);}
  25%   {transform: translate(-300px, 50px);}
  37.5%   {transform: translate(-150px, -50px);}
  50%  {transform: translate(0, 50px);}
  62.5%  {transform: translate(150px, -50px);}
  75%  {transform: translate(300px, 50px);}
  87.5%  {transform: translate(450px, -50px);}
  100% {transform: translate(600px, 50px);}
}

.target-flashing {
  background: springgreen;
  animation: Flashing 1.5s infinite;
  box-shadow: none;
  transition: 1s ease-in;
}

@keyframes Flashing {
  0%   {background: springgreen;}
  25%  {background: transparent; }
  75%  {background: transparent; }
  100% {background: springgreen;}
}

.target-flashing.shot {
  animation: none;
  transform: translateY(100vh);
  opacity: 0;
}